# Python
__pycache__/
*.py[cod]
*.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles

# Environments
.env
.venv
env/
venv/
ENV/

# Editor/IDE
.vscode/
.idea/
*.swp
